Initialize the packages

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
Now

In [10]:
import requests
weburl = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [2]:
#Rad the csv
#!!conda install -c conda-forge xlrd
Data = pd.read_excel("toronto_PO_Data.xlsx")

In [3]:
Data.head()

Data.tail()

    Postcode       Borough          Neighbourhood
283      M8Z     Etobicoke              Mimico NW
284      M8Z     Etobicoke     The Queensway West
285      M8Z     Etobicoke  Royal York South West
286      M8Z     Etobicoke         South of Bloor
287      M9Z  Not assigned           Not assigned

In [4]:
Data.dtypes

Postcode         object
Borough          object
Neighbourhood    object
dtype: object

In [7]:

# Get names of indexes for which column Borough has value "Not assigned"
index =Data[Data['Borough'] =='Not assigned'].index

# Delete these row indexes from dataFrame
Data.drop(index , inplace=True)

In [9]:
Data.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [12]:
Data.describe()

       Postcode    Borough Neighbourhood
count       211        211           211
unique      103         11           209
top         M8Y  Etobicoke     Runnymede
freq          8         45             2

In [13]:
Data.loc[Data['Neighbourhood'] =='Not assigned' , 'Neighbourhood'] = Data['Borough']
Data.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Queen's Park
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

In [14]:
Data.tail()

    Postcode    Borough             Neighbourhood
282      M8Z  Etobicoke  Kingsway Park South West
283      M8Z  Etobicoke                 Mimico NW
284      M8Z  Etobicoke        The Queensway West
285      M8Z  Etobicoke     Royal York South West
286      M8Z  Etobicoke            South of Bloor

In [16]:
Data.shape

(211, 3)

In [18]:

Final = Data.groupby(['Postcode','Borough'], sort=False).agg( ', '.join)

In [19]:
Final.reset_index()

,Postcode,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Harbourfront, Regent Park"
3,M6A,North York,"Lawrence Heights, Lawrence Manor"
4,M7A,Queen's Park,Queen's Park
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
101,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park So..."
102,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen..."

In [20]:
Final.shape

(103, 1)